In [2]:
import os
import pandas as pd
from shutil import copyfile

In [4]:
df = pd.read_csv('dataset/train.csv')
df.head()

            Image   Class
0   image7042.jpg    Food
1   image3327.jpg    misc
2  image10335.jpg  Attire
3   image8019.jpg    Food
4   image2128.jpg  Attire

In [6]:
def copier(row):
    copyfile('dataset/Train Images/' + row['Image'], 'sep_dataset/' + row['Class'] + '/' + row['Image'])
    return row
df = df.apply(copier, axis=1)