In [1]:
%matplotlib inline
import warnings
import re as re
import numpy as np
import pandas as pd
import seaborn as sns
import xgboost as xgb
import random, sys, os
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

from pandas_profiling import ProfileReport

from sklearn.impute import SimpleImputer
from sklearn.metrics import roc_auc_score, roc_curve, auc
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import (train_test_split, RandomizedSearchCV, 
                                     GridSearchCV, KFold, cross_val_predict, 
                                     permutation_test_score, StratifiedKFold) 

from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegressionCV, LogisticRegression
from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier,
                              GradientBoostingClassifier, ExtraTreesClassifier)

from keras.models import Sequential, load_model
from keras.layers import Dense, Dropout, LSTM
from keras.callbacks import EarlyStopping
from keras.wrappers.scikit_learn import KerasRegressor, KerasClassifier

Using TensorFlow backend.

In [2]:
# Loading Pickled DataFrames
X_train = pd.read_pickle("Processed_Data/X_train.pkl")
X_test = pd.read_pickle("Processed_Data/X_test.pkl")
y_train = pd.read_pickle("Processed_Data/y_train.pkl")
y_test = pd.read_pickle("Processed_Data/y_test.pkl")
test = pd.read_pickle("Processed_Data/test.pkl")
X_train.columns

Index(['Region', 'Gender', 'Married', 'Children', 'Occupation',
       'Mode_transport', 'cases/1M', 'Deaths/1M', 'comorbidity', 'Age',
       'Coma score', 'Pulmonary score', 'cardiological pressure', 'Diuresis',
       'Platelets', 'HBB', 'd-dimer', 'Heart rate', 'HDL cholesterol',
       'Charlson Index', 'Blood Glucose', 'Insurance', 'salary', 'FT/month'],
      dtype='object')

In [3]:
X_train.head()

,Region,Gender,Married,Children,Occupation,Mode_transport,cases/1M,Deaths/1M,comorbidity,Age,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
people_ID,,,,,,,,,,,,,,,,,,,,,
21635,10,1,1,1,5.0,0.0,8,2,2.0,57,...,126.0,53.0,202.0,89.0,44.000000,15,7,400000.0,1300000,0.0
14718,8,1,0,0,7.0,0.0,2,0,3.0,17,...,146.0,176.0,294.0,54.0,37.000000,33,5,2400000.0,500000,0.0
2977,9,0,1,2,7.0,2.0,1,0,3.0,55,...,126.0,107.0,350.0,94.0,52.716577,7,6,4100000.0,2000000,1.0
14515,8,1,0,0,3.0,0.0,2,0,3.0,18,...,44.0,96.0,201.0,95.0,55.000000,38,6,3800000.0,600000,0.0
14697,8,1,1,1,3.0,0.0,2,0,3.0,44,...,27.0,66.0,297.0,64.0,42.000000,20,7,3800000.0,1400000,0.0

In [4]:
df = pd.read_excel('Train_dataset.xlsx', sheet_name='Diuresis_TS')
df.head()

,people_ID,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-22 00:00:00,2020-03-23 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00,2020-03-26 00:00:00
0,1,441,544.2,669.64,821.368,1002.2416,1215.68992,1472.627904
1,2,151,197.2,253.24,321.688,399.9256,492.91072,606.892864
2,3,416,515.2,632.44,776.728,947.7736,1150.32832,1395.793984
3,4,410,506.0,621.40,761.880,928.1560,1126.78720,1368.344640
4,5,390,483.0,595.00,730.200,892.8400,1084.40800,1315.889600

In [5]:
inital_vals = []
for col in df.columns[1:-1]:
    inital_vals.append(df[col].values)

diuresis_X = inital_vals[0]    
for val in inital_vals[1:]:
    diuresis_X = np.append(diuresis_X, val)
    
forecast_vals = []    
for col in df.columns[2:]:
    forecast_vals.append(df[col].values)

diuresis_y = forecast_vals[0]    
for val in forecast_vals[1:]:
    diuresis_y = np.append(diuresis_y, val)

In [6]:
print(len(diuresis_X), len(diuresis_y))

64284 64284

In [7]:
diuresis_test_X = test['Diuresis']
diuresis_test_X.shape

(14498,)

In [8]:
n_steps = 1
n_features = 1

X_train_feed = np.array(diuresis_X).reshape((diuresis_X.shape[0], n_steps, n_features))
X_test_feed = np.array(diuresis_test_X).reshape((diuresis_test_X.shape[0], n_steps, n_features))
y_train_feed = np.array(diuresis_y)

In [ ]:
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(n_steps, n_features)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
model.fit(X_train_feed, y_train_feed, epochs=10, validation_split=0.2)
model.save('Models/Task-2.h5')

In [10]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 50)                10400
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
=================================================================
Total params: 10,451
Trainable params: 10,451
Non-trainable params: 0
_________________________________________________________________

In [11]:
X_test_feed.shape

(14498, 1, 1)

In [12]:
# As data provided to us was for 20th March and we need predictions for 27th March.
# So we would need to keep sampling till 26th March to get predictions for 27th March
# No real use of days_till_final_predict list (just for readability)

days_till_final_predict = [20, 21, 22, 23, 24, 25, 26]

for day in days_till_final_predict:
    predictions = model.predict(X_test_feed)
    predictions = np.squeeze(predictions, axis=(1,))
    X_test_feed = X_test_feed = np.array(predictions).reshape((predictions.shape[0], n_steps, n_features))
    
test['Diuresis'] = predictions
predictions

array([1599.8959 , 1675.3964 , 1786.8495 , ...,  782.1461 ,  829.4274 ,
        653.14703], dtype=float32)

In [18]:
# Scaling the datasets
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
test = scaler.transform(test)

In [19]:
# Load Model from Task-1
model_1 = load_model('Models/Task-1-reg.h5')
predictions_final = model_1.predict(test)
predictions_final = np.squeeze(predictions_final, axis=(1,))

In [20]:
predictions_final

array([0.6093626 , 0.4874894 , 0.11088762, ..., 0.64028084, 0.73314   ,
       0.68541837], dtype=float32)

In [14]:
test_people = pd.read_excel('Test_dataset.xlsx')
final_df = pd.DataFrame({'people_ID':test_people['people_ID'], 'Infect_Prob': predictions_final*100})
final_df.head()

   people_ID  Infect_Prob
0       5942          0.0
1      18664          0.0
2       5603          0.0
3       5649          0.0
4       5099          0.0

In [15]:
set(predictions_final)

{0.0}

In [15]:
final_df.to_csv('Results/Task-2_Results.csv', index=False)